<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="entoEndTestLuma">
        <parameter name="browserName" value="edge"></parameter>
        <parameter name="email" value="vinayhatti5@gmail.com"></parameter>
        <parameter name="password" value="ViN@19619541"></parameter>
        <classes>
            <class name="com.Luma.TestLuma.TestLuma">
                <methods>
                    <include name="luanchApp"/>
                    <include name="entoEndTestLuma"/>
                </methods>
            </class>
        </classes>
    </test>

<!--    <test verbose="2" preserve-order="true" name="verifyWishListItemDetails">-->
<!--        <parameter name="browserName" value="edge"></parameter>-->
<!--        <parameter name="email" value="vinayhatti5@gmail.com"></parameter>-->
<!--        <parameter name="password" value="ViN@19619541"></parameter>-->
<!--        <classes>-->
<!--            <class name="com.Luma.TestLuma.TestLuma">-->
<!--                <methods>-->
<!--                    <include name="luanchApp"/>-->
<!--                    <include name="verifyWishListItemDetails"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test verbose="2" preserve-order="true" name="verifyNoItemsInWishlist">-->
<!--        <parameter name="browserName" value="edge"></parameter>-->
<!--        <parameter name="email" value="vinayhatti5@gmail.com"></parameter>-->
<!--        <parameter name="password" value="ViN@19619541"></parameter>-->
<!--        <classes>-->
<!--            <class name="com.Luma.TestLuma.TestLuma">-->
<!--                <methods>-->
<!--                    <include name="luanchApp"/>-->
<!--                    <include name=""/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>